.cart-icon {
    padding:  0 5px 0 5px;
    display: flex;
    justify-content: center;
    position: relative;
}

.cart-text {
    display: flex;
    align-items: center;
    padding:  0 5px 0 5px;
}

.cart-icon__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 999px;
    position: absolute;
    top: -20px;
    right: 5px;
    z-index: 9999;
    ::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-top-right-radius: 999px;
        border-top-left-radius: 999px;
        border-bottom-left-radius: 999px;
        rotate: 45deg;
        position: absolute;
        top: 11px;
        left: 5px;
        z-index: -1;
    }
}