@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";

html, body { height: 100%; }
body { 
  margin: 0; 
  min-width: 1080px;
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: #f8f8f8;
  line-height: 1.6rem;
}

button {
  box-sizing: none; 
}

p {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box; 
  outline: none; 
}

a {
  text-decoration: none;
  color: inherit; 
}

ul {
  list-style-type: none;
}


