.bell-icon {
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.bell-icon__notification {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 7px;
    position: absolute;
    top: 0;
    right: -20px;
    z-index: 9999;
    ::before {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        background-color: #fff;
        border-bottom-right-radius: 999px;
        position: absolute;
        top: 13px;
        left: 0px;
        z-index: -1;
    }
}