.category {
    &.p-button .p-button-label{
        color: #fff;
    }
    &.p-button .p-button-icon{
        padding: 5px;
        color: #fff;
    }
    &.p-button{
        border-color: #fff;
        padding: 5px;
    }
    
}
