<div class="header">   
    <div class="header-nav">
        <div class="nav-title centered">
            <app-title/>
        </div>
        <div class="nav-category centered">
            <div class="category-item item__link">
                <app-category/>
            </div>
        </div>
        <div class="nav-search centered">
            <div class="search-item">
                <app-searchbar/>
            </div>
        </div>
        <div class="nav-bell centered">
            <div class="bell-item item__link">
                <app-bell/>
            </div>
        </div>
        <div class="nav-cart centered">
            <div class="cart-item item__link">
                <app-cart/>
            </div>
        </div>
        <div class="nav-user centered">
            <div class="user-item item__link">
                <app-user/>
            </div>
        </div>
    </div>
</div>
    